.content
{
    display: flex;
    margin:1300 auto;
    justify-content: space-between;
    align-items: center;

    div{
        background-color:lighten(#5cb85c, 0.1);
        color:#f7f7f7;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 darken(#5cb85c, 0.1);
        margin:1rem;
        p:first-of-type{
            font-size: 2rem;
        }
    }

    svg{
        height: 1rem;
        width: 1rem;
    }

    .noData{
        background-color: lighten(#5bc0de, 0.2);
        border:none;
        border-radius: 4px;
        color:darken(#5bc0de, 0.5);
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        margin:1rem;
    }
}